html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

#menuItem:focus{
  outline: none;
}

#menuButton{
  /* padding: 0; */
  border: 0 !important;
  background: none;
  color: white !important;
  letter-spacing: 0.2em;
  /* float: right !important; */
}

#menuButton:focus{
  outline: 0 !important;
}

#buttonGroup{
  padding-top: 30%;
}

#buttonGroup:focus{
  outline: 0 !important;
}

#headerGroup{
  padding-top: 20%;
}

#headerGroup:focus{
  outline: 0 !important;
}

#headerGroup #img{
  border-radius: 50%;
  border: 5px solid #8892b0;
}

#headerGroup #label{
  background: none !important;
  /* padding-top: 0.1em; */
  /* letter-spacing: 0.2em; */
  color: white;
  /* margin: auto;
  width: 50% */
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #0a192f;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #0a192f;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #0a192f;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}